process{
    withName: FASTP {
        cpus = 12
        memory = 25.GB
        }
    withName: MEGAHIT {
        cpus = 12
        memory = 25.GB
        ext.args = { "--k-min 51 --k-max 71 --k-step 20" }
        }
}

plugins {
    id 'nf-prov@1.1.0'
}

params {
    outdir = 'results'
}

prov {
    enabled = true
    formats {
        wrroc {
            file = "${params.outdir}/ro-crate-metadata.json"
            overwrite = true
            agent {
                name = "John Doe"
                orcid = "https://orcid.org/0000-0000-0000-0000"
            }
            license = "https://spdx.org/licenses/Apache-2.0"
            profile = "provenance_run_crate"
        }
    }
}

